.user{
  div{
    height: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      flex-shrink: 0;
    }
    input{
      flex-shrink: 1;
      width: 1.2rem;
    }
  }
}



