<div class="userDetailed">
    <div class="table-title">
        <h3 >回复详情</h3>
        <button class="btn btn-default" ui-sref ="backStage.feedback">返回</button>
    </div>

    <h4>意见内容</h4>
    <div>
        <div  class="debtEditContent-row">意见ID: <u>{{vm.list.id}}</u></div>


        <div  class="debtEditContent-row">提交人： <u>{{vm.list.submitBy}}</u></div>
        <div  class="debtEditContent-row">提交时间： <u>{{vm.list.submitTime}}</u></div>
        <div class="debtEditContent-row">意见内容： <u>{{vm.list.opinionContent}}</u></div>
    </div>
    <h4>回复内容</h4>
    <div>
        <div class="debtEditContent-row">回复人： <u>{{vm.list.replyBy}}</u></div>
        <div class="debtEditContent-row">回复时间：<u>{{vm.list.replyAt}}</u></div>
        <div class="debtEditContent-row">回复内容：<u>{{vm.list.feedBackContent}}</u></div>
    </div>


</div>