<div class=" all-content">
    <div class="table-title">
        <h3>{{vm.messageTitle}}</h3>
        <button class="btn btn-default" ui-sref ="backStage.article	">返回</button>
    </div>
    <form class="messageEditContent"  name="messageEditForm">
        <div class="messageEdit-title">推送内容</div>
        <div class="debtEditContent-row"
             ng-class="{'has-error': messageEditForm.pictureName.$dirty && messageEditForm.pictureName.$invalid}">
            <span>*消息标题</span>
            <input type="text"
                   required
                   class="form-control"
                   ng-model ="vm.articleTitle"
                   name="pictureName"
                   placeholder="请输入消息标题（20字以内）"
                   ng-pattern="/^[\u4e00-\u9fa5]{2,10}$/">
            <span class="debtEdit-attention"
                  style="color: red"
                  ng-show="messageEditForm.pictureName.$error.pattern ">请输入2-10个汉字</span>
        </div>
        <div class="debtEditContent-row"
             ng-class="{'has-error': messageEditForm.carouselTime.$dirty && messageEditForm.carouselTime.$invalid}">
            <span>*消息内容</span>
            <textarea type="text"
                      required
                      class="form-control productEdit-bigInput"
                      ng-model = "vm.introduction "
                      name = "introduction"
                      ng-maxlength="200"
                      placeholder="请详细描述您要填写的内容。（限制字数100字以内）"></textarea>
            <span class="debtEdit-attention"
                  style="color: red"
                  ng-show="messageEditForm.introduction.$error.maxlength">字数已超过上限，建议重新编辑。</span>
        </div>
        <div class="debtEditContent-row"
             ng-class="{'has-error': bannerEditForm.cardID.$dirty && bannerEditForm.cardID.$invalid}">
            <span>*上传图片</span>
            <div>
                <label for="upLoadImg" class="img-input">
                    <span ng-hide ="vm.success === 'success'">点击添加图片</span>
                    <img ng-src = "{{vm.imgSrc}}"
                         class="img-responsive"
                         ng-show ="vm.success == 'success'">
                </label>
                <input style="display:none;"
                       id = "upLoadImg"
                       ng-disabled = 'vm.success== "success"'
                       type="file"
                       accept="image/*"
                       ng-value="vm.file"
                       onchange="angular.element(this).scope().vm.imgUpload(this.files)">
            </div>

        </div>
        <div class="debtEditContent-row">
            <table class="table imgTable table-striped  table-responsive table-condensed ">
                <tr>
                    <td><strong>图片名</strong></td>
                    <td><strong>大小</strong></td>
                    <!--<td><strong>进度</strong></td>-->
                    <td><strong>状态</strong></td>
                    <td><strong>操作</strong></td>
                </tr>
                <tr ng-show="vm.onload">
                    <td>{{vm.imgName}}</td>
                    <td >{{vm.imgSize}}</td>
                    <td><span ng-show ="vm.success == 'success'" class="glyphicon glyphicon-ok-sign"></span></td>
                    <td>
                        <button class="btn btn-default" ng-click = "vm.upLoad()" ng-disabled="vm.success === 'success'">上传</button>
                        <button class="btn btn-info " ng-click = "vm.delete()" >删除</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="messageEdit-title">推送设置</div>

        <div class="messageEdit-row">
            <span>*推送时间</span>
            <label class="select">
                <input type="radio" ng-click = "vm.dateChoice = false" id="rightNow" name="setTime" checked>
                <label for="rightNow"  >马上推送</label>
            </label>
            <label class="select">
                <input type="radio" ng-click = "vm.dateChoice = true" name="setTime" id="setTime" />
                <label for="setTime" >定时推送</label>
            </label>
            <div class="flex dateInput" ng-show ="vm.dateChoice">
                <input type="text"
                       class="form-control date-input"
                       uib-datepicker-popup="{{vm.startDate}}"
                       ng-model="vm.date"
                       is-open="vm.popup.opened"
                       close-text="关闭"
                       clear-text="清空"
                       current-text="今天"
                       alt-input-formats="vm.altInputFormats"
                       ng-click="vm.open()"
                       placeholder="请输入截止日期">
                <input class="form-control date-input-min"
                       id="timePicker"
                       name="1"
                       placeholder="请输入时间"
                       ng-model ="vm.timePicker"
                       type="text">
            </div>
        </div>
        <div class="debtEditContent-row">
            <span>*推送对象</span>
            <label>
                <input type="radio" id="all" name="all" checked>
                <label for="all" >所有人</label>
            </label>
        </div>

        <div class="debtEditContent-row">
            <button class="btn btn-success"
                    ng-disabled="bannerEditForm.$invalid || !vm.imgSrc"
                    ng-click = "vm.change()"
            >保存</button>
            <button class="btn btn-danger"  ui-sref ="backStage.article	">取消</button>
        </div>
    </form>
</div>