<div class="recommendEdit all-content">
    <div class="table-title">
        <h3>{{vm.title}}</h3>
        <button class="btn btn-default"
                ui-sref ="backStage.recommend">返回</button>
    </div>
    <form class="bannerEditContent"  name="bannerEditForm">
        <div class="debtEditContent-row"
             ng-class="{'has-error': bannerEditForm.pictureName.$dirty && bannerEditForm.pictureName.$invalid}">
            <span>*鼎力推荐标题</span>
            <input type="text"
                   required
                   class="form-control"
                   ng-model ="vm.pictureName"
                   name="pictureName"
                   placeholder="请输入鼎力推荐标题（2~10个汉字）"
                   ng-pattern="/^[\u4e00-\u9fa5]{2,10}$/">
            <span class="debtEdit-attention"
                  style="color: red"
                  ng-show="bannerEditForm.pictureName.$error.pattern ">请输入2-10个汉字</span>
        </div>
        <div class="debtEditContent-row">
            <span>*鼎力推荐ID</span>
            <input type="tel"
                   name="id"
                   class="form-control"
                   ng-model = "vm.url"
                   required
                   ng-pattern="/^[0-9]*$/"
                   placeholder="请输入鼎力推荐ID。">
            <span class="debtEdit-attention"
                  style="color: red"
                  ng-show="bannerEditForm.id.$error.pattern ">请输入ID</span>
        </div>
        <div class="debtEditContent-row"
             ng-class="{'has-error': bannerEditForm.cardID.$dirty && bannerEditForm.cardID.$invalid}">
            <span>*上传鼎力推荐图</span>
            <div>
                <label for="upLoadImg" class="img-input">
                    <span ng-hide ="vm.success === 'success'">点击添加图片</span>
                    <img ng-src = "{{vm.imgSrc}}"
                         class="img-responsive"
                         ng-show ="vm.success === 'success'">
                </label>
                <input style="display:none;"
                       id = "upLoadImg"
                       type="file"
                       accept="image/*"
                       ng-disabled = "vm.success === 'success'"
                       ng-value="file"
                       onchange="angular.element(this).scope().vm.imgUpload(this.files)">
            </div>

        </div>
        <div class="debtEditContent-row">
            <table class="table table-striped  table-responsive table-condensed ">
                <tr>
                    <td><strong>图片名</strong></td>
                    <td><strong>大小</strong></td>
                    <!--<td><strong>进度</strong></td>-->
                    <td><strong>状态</strong></td>
                    <td><strong>操作</strong></td>
                </tr>
                <tr ng-show="vm.onload">
                    <td>{{vm.imgName}}</td>
                    <td >{{vm.imgSize}}</td>
                    <td><span ng-show ="vm.success == 'success'" class="glyphicon glyphicon-ok-sign"></span></td>
                    <td>
                        <button class="btn btn-default" ng-click = "vm.upLoad()" ng-disabled="vm.success === 'success'">上传</button>
                        <button class="btn btn-info " ng-click = "vm.delete()" >删除</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="debtEditContent-row">
            <button class="btn btn-success"
                    ng-disabled="bannerEditForm.$invalid || !vm.imgSrc"
                    ng-click = "vm.change()"
            >保存</button>
            <button class="btn btn-danger"  ui-sref ="backStage.recommend">取消</button>
        </div>
    </form>
</div>