<!-- 模块搜索条件 -->
<form name="searchForm" class="searchCondition">
    <div class="search-row">
        <!-- 模块ID -->
        <label class="tips" for="moduleId">模块ID</label> 
        <input type="text" name="moduleId" class="form-control form-18" ng-model="vm.moduleId" required>
        <!-- 模块名 -->
        <label class="tips" for="moduleName">模块名</label>
        <input type="text" name="moduleName" class="form-control form-18" ng-model="vm.moduleName" required>
        <!-- 重置按钮 -->
        <button class="btn btn-danger" ng-click="vm.reSet()" ng-disabled="searchForm.moduleId.$invalid && searchForm.moduleName.$invalid && searchForm.parentModuleId.$invalid && searchForm.creater.$invalid">重置</button>
    </div>
    <div class="search-row">
        <!-- 父模块 -->
        <label class="tips" for="parentModuleId">父模块</label>
        <input type="text" name="parentModuleId" class="form-control form-18" ng-model="vm.parentModuleId" required>
        <!-- 创建人 -->
        <label class="tips" for="creater">创建人</label>
        <input type="text" name="creater" class="form-control form-18" ng-model="vm.creater" required>
        <!-- 查询按钮 -->
        <button class="btn btn-primary" ng-click="vm.search()" ng-disabled="searchForm.moduleId.$invalid && searchForm.moduleName.$invalid && searchForm.parentModuleId.$invalid && searchForm.creater.$invalid">查询</button>
    </div>
</form>
<!-- 列表标题 -->
<div class="title-warp">
    <strong class="title">模块管理</strong>
    <button class="btn btn-success" ui-sref="backStage.moduleEdit">新增</button>
</div>
<!-- 模块列表 -->
<div class="table-responsive border">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th class="text-center index-title">序号</th>
                <th class="text-center list-title">模块ID</th>
                <th class="text-center list-title">模块名</th>
                <th class="text-center list-title">URL地址</th>
                <th class="text-center list-title">父模块ID</th>
                <th class="text-center list-title">模块类型</th>              
                <th class="text-center list-title">更新时间</th>
                <th class="text-center list-title">更新人</th>
                <th class="text-center list-title">创建时间</th>
                <th class="text-center list-title">创建人</th>
                <th class="text-center list-title">操作</th>
            </tr>
            <tr ng-repeat="list in vm.lists">
                <td class="text-center index" ng-bind="$index + 1"></td>
                <td class="text-center" ng-bind="list.moduleID"></td>
                <td class="text-center" ng-bind="list.moduleName"></td>
                <td class="text-center" ng-bind="list.url"></td>
                <td class="text-center" ng-bind="list.parentModuleID"></td>
                <td class="text-center" ng-bind="list.moduleType"></td>
                <td class="text-center time" ng-bind=" list.updateAt | date:'yyyy/MM/dd HH:mm:ss'"></td>
                <td class="text-center" ng-bind="list.updateBy"></td>
                <td class="text-center time" ng-bind=" list.createAt | date:'yyyy/MM/dd HH:mm:ss'"></td>
                <td class="text-center" ng-bind="list.createBy"></td>
                <!-- 操作按钮 -->
                <td class="text-center">

                    <button class="btn btn-info" ng-click="vm.write(list.id)"  ui-sref="backStage.moduleEdit({id: list.id})">编辑
                    </button>

                    <button class="btn btn-danger" ng-click="vm.delete(list.id)" ng-disabled="list.moduleName | moduleDeleat">删除
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- 分页 -->
    <div class="table-foot">
        <div>
            <span>每页显示</span>
            <input type="text" class="form-control small" ng-model="vm.size">
            <span>条</span>
        </div>
        <ul class="apage " uib-pagination total-items="vm.totalItems" ng-model="vm.page" max-size="5" items-per-page="vm.size" first-text="第一页"
            previous-text="<" next-text=">" ng-click="vm.goPage()" rotate="true" force-ellipses="true" last-text="最后页" boundary-links="true"
            boundary-link-numbers="true">
        </ul>
        <div class="">
            <span>去第</span>
            <input type="text" class="form-control small" ng-model="vm.goPage" ng-init=""> {{vm.page}}
            <span>页</span>
            <button class="btn btn-primary" ng-click="">
                确定
            </button>
        </div>
    </div>
</div>