<!-- 标题 -->
<div class="adminTitle">
    <strong class="title">修改密码</strong>
</div>
<!-- main -->
<form name="passwordForm">
    <div>
        <span>输入旧密码:</span>
        <input type="password" placeholder="若包含字母，请注意区分大小写。" name="oldPassword" id="oldPassword" ng-model="vm.oldPassword" ng-pattern="/^(?![A-Z]+$)(?![a-z]+$)(?!\d+$)(?![\W_]+$)\S+$/" minlength="6" maxlength="18" ng-minlength="6" ng-maxlength="18" required>
        <div style="color:red" ng-show="passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$invalid">旧密码格式错误，请重试</div>
         <!-- 密码{{passwordForm.password}} 
        {{passwordForm.password.$error}}  -->
    </div> 
    <div>
        <span>设置新密码:</span>
        <input type="password" placeholder="6-18位，至少含数字/字母/符号2种组合。" name="newPassword" id="newPassword" ng-model="vm.newPassword" ng-pattern="/^(?![A-Z]+$)(?![a-z]+$)(?!\d+$)(?![\W_]+$)\S+$/" minlength="6" maxlength="18" ng-minlength="6" ng-maxlength="18" required>
        <div style="color:red" ng-show="passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid">新密码格式错误，请重试</div>
    </div>
    <div>
        <span>确认新密码:</span>
        <input type="password" placeholder="6-18位，至少含数字/字母/符号2种组合。" name="surePassword" id="surePassword" ng-model="vm.surePassword" ng-pattern="/^(?![A-Z]+$)(?![a-z]+$)(?!\d+$)(?![\W_]+$)\S+$/" minlength="6" maxlength="18" ng-minlength="6" ng-maxlength="18" required>
        <div style="color:red" ng-show="passwordForm.surePassword.$dirty && passwordForm.surePassword.$invalid">新密码格式错误，请重试</div>
    </div>
    <button class="btn btn-primary" ng-click="vm.changePassword()" ng-disabled="passwordForm.oldPassword.$pristine || passwordForm.oldPassword.$invalid || passwordForm.newPassword.$pristine || passwordForm.newPassword.$invalid || passwordForm.surePassword.$pristine || passwordForm.surePassword.$invalid">
        登陆
    </button>
</form>