<!-- 标题 -->
<div class="title-warp">
    <strong class="title">{{vm.title}}</strong>
    <button class="btn btn-success" ui-sref="backStage.role">返回</button>
</div>
<!-- main -->
<form name="passwordForm" class="passwordForm" id="role">
    <!-- 角色名 -->
    <div class="password" ng-class="{'has-error': passwordForm.roleName.$dirty && passwordForm.roleName.$invalid}">
        <span class="tips">角色名:</span>
        <input type="text" class="form-control from-35" name="roleName" ng-model="vm.roleName" required>
        <div class="tipsRed" ng-show="vm.repeatTips">角色名重复，请重试</div>
    </div>

    <div>
        <span class="tips">权&ensp;限</span>
        <label for="checkallpigdata">全选/全不选</label>
        <input type="checkbox" 
               ng-model="vm.admin2" 
               ng-click="vm.checkAll(vm.admin2,vm.show)"/>

        <div ng-repeat="x in vm.sideBar">
            <!-- 父模块 -->
            <div ng-click="vm.collapse[$index] = !vm.collapse[$index]" ng-disabled="vm.show == true">
                <strong>{{x.sideBarTitle}}</strong>
                <span ng-class="{'glyphicon glyphicon-arrow-down': !vm.collapse[$index], 'glyphicon glyphicon-arrow-up': vm.collapse[$index]}"></span>
            </div>
            <!-- 多选框 -->
            <label ng-repeat="item in x.sideBarContent" ng-show="vm.collapse[$parent.$index] || vm.show">
                {{item.moduleName}}
                <input type="checkbox"  
                    ng-model="item.ifChecked"
                    ng-change="vm.log()"
                    >
            </label> 
        </div>
    </div>

    <div>
        <!-- 保存按钮 -->
        <button class="btn btn-primary btnSure" ng-click="vm.sure()" 
        ng-disabled="passwordForm.roleName.$invalid">
            保存
        </button>
        <button class="btn btn-danger btnSure cancel" ui-sref="backStage.role">取消</button>
    </div>
</form>