.from-35{
    width: 35%;
}
.passwordForm{
    padding: 40px;
    text-align: center;
    background-color: #fff;
    .tips{
        margin-right: 15px;
    }
    .password{
        padding: 15px;
    }
}
.tipsRed{
    padding-top: 10px;
    color: red;
}
.btnSure{
    margin-top: 40px;
}