<div class="about">
    <div class="about-title">
        <span class="fa  fa-chevron-left" style="color: #dca854" ui-sref = "home.setting"></span>
        <div>关于我们</div>
    </div>
    <div class="about-row">
        <img class="aboutus" src="img/about/aboutus.jpg" alt="">
    </div>
    <div class="about-row">
        <span class="big">软</span>简银行（北京）投资管理有限公司是中国财富管 理行业的领先企业，总部位于北京，公司致力于为大 众富裕阶层提供全方位的财富规划与财富管理顾问服务。
    </div>
    <div class="about-row">
        <span class="big">聚</span>金融以客户理财需求为基础，根据客户的风险偏 好、财务状况、家庭结构等因素量身定制理财规划， 将国内优质的固定收益类、股权类等理财产品通过科学的资产配置带给广大投资者，帮助客户实现稳定，安全的财富增值
    </div>
    <div class="about-row">
        <img class="about1" src="img/about/about1.jpg" alt="">
    </div>
    <div class="about-row">
        <img class="about2" src="img/about/about2.jpg" alt="">
    </div>
    <div class="about-row about-flex">
        <div class="left-1">
            <div style="color: #c39d71">01、企业使命：</div>
            <div>助力中小企业、</div>
            <div>助力实体经济、</div>
            <div>致力普惠金融、</div>
            <div>实现财富共赢。</div>
        </div>
        <div class="right-1">
            <div style="color: #c39d71">02、 企业愿景：</div>
            <div>成为业界颇具影响力的专业化、 综合化的金融平台，成为推动 普惠金融发展和社会经济发展 的重要力量。    </div>
        </div>
    </div>
    <div class="about-row">
        <div class="about-row-title">03、“四有”团队</div>
        <div class="about-flex">
            <div class="left-1">有效地组织：</div>
            <div class="right-1">架构完备、职责分明、分工合作、沟通顺畅；</div>
        </div>
        <div class="about-flex">
            <div class="left-1">优良的方法：</div>
            <div class="right-1">制度健全、策略优化、因地制宜、因人施教；</div>
        </div>
        <div class="about-flex">
            <div class="left-1">友爱的氛围：</div>
            <div class="right-1">团结互助、和谐友善、文明行为、同心协力；</div>
        </div>
        <div class="about-flex">
            <div class="left-1">有力的执行：</div>
            <div class="right-1">集思广益、迅速反应、统筹兼顾、马上行动。</div>
        </div>
    </div>
    <div class="about-row ">
        <div class="about-row-title">04、“四有”员工</div>
        <div class="about-flex">
            <div class="left">有胸怀：</div>
            <div class="right">有梦想、有目标、有大局、有气量。</div>
        </div>
        <div class="about-flex">
            <div class="left">有品格：</div>
            <div class="right">积极向上、不卑不亢、勤勉自律、勇于担当。</div>
        </div>
        <div class="about-flex">
            <div class="left">有专业：</div>
            <div class="right">理解经济环境变化，掌握金融基础知识、符合本职工作需要。</div>
        </div>
        <div class="about-flex">
            <div class="left">有能力：</div>
            <div class="right">良好的沟通能力、持续学习的能力、高效的执行能力、创新的开拓能力</div>
        </div>
    </div>
    <div class="about-row">
        <img class="about3" src="img/about/about3.jpg" alt="">
    </div>
    <div class="about-row">
        <span class="big">公</span>司资金全面进行第三方托管，由“富友支付-金账户” 系统对出借人和借款人资金进行托管，并通过富友支付渠 道完成资金收付，据此实现业务资金与公司运营资金的全面隔离，以此保障投资人资金的独立，稳健运行。
    </div>
    <div class="about-row">
        <img class="about4" src="img/about/about4.jpg" alt="">
    </div>
</div>