<div class="CP">
    <div class="CP-title" >
        <span class="fa  fa-chevron-left" style="color: #dca854" ui-sref = "home.setting"></span>
        <div>修改密码</div>
    </div>
    <form name="passwordForm" class="CP-Form">
        <!-- 旧密码 -->
        <div class="password" ng-class="{'has-error': passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$invalid}">
            <span class="tips">输入旧密码:</span>
            <input type="password"
                    placeholder="若包含字母，请注意区分大小写。"
                    class="form-control from-35"
                    name="oldPassword"
                    id="oldPassword"
                    ng-model="vm.oldP"
                    ng-pattern="/^(?![A-Z]+$)(?![a-z]+$)(?!\d+$)(?![\W_]+$)\S+$/" minlength="6"
                    maxlength="18"
                    ng-minlength="6"
                    ng-maxlength="18"
                    required>
            <div class="tipsRed"
                 ng-show="passwordForm.oldPassword.$error.pattern || passwordForm.oldPassword.$error.minlength">旧密码格式错误，请重试</div>
        </div>
        <!-- 新密码 -->
        <div class="password" ng-class="{'has-error': passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid}">
            <span class="tips">设置新密码:</span>
            <input type="password"
                    placeholder="6-18位，至少含数字/字母/符号2种组合。"
                    class="form-control from-35"
                    autocomplete="off"
                    name="newPassword"
                    id="newPassword"
                    ng-model="vm.newP"
                    ng-pattern="/^(?![A-Z]+$)(?![a-z]+$)(?!\d+$)(?![\W_]+$)\S+$/" minlength="6"
                    maxlength="18"
                    ng-minlength="6"
                    ng-maxlength="18"
                    required>
            <div class="tipsRed" ng-show="passwordForm.newPassword.$error.pattern || passwordForm.newPassword.$error.minlength">新密码格式错误，请重试</div>
        </div>
        <!-- 确认新密码 -->
        <div class="password" ng-class="{'has-error': passwordForm.surePassword.$dirty && passwordForm.surePassword.$invalid}">
            <span class="tips">确认新密码:</span>
            <!-- <input type="password" ng-change="pass2()" ng-model="asd"> -->
            <input  type="password"
                    placeholder="6-18位，至少含数字/字母/符号2种组合。"
                    class="form-control from-35"
                    name="surePassword"
                    id="surePassword"
                    ng-model="vm.sureP"
                    minlength="6"
                    maxlength="18"
                    ng-minlength="6"
                    ng-maxlength="18"
                    ng-model="surePassword"
                    ng-pattern="/^(?![A-Z]+$)(?![a-z]+$)(?!\d+$)(?![\W_]+$)\S+$/"
                    required>
            <div class="tipsRed"
                 ng-show="passwordForm.surePassword.$error.pattern || passwordForm.surePassword.$error.minlength">新密码格式错误，请重试</div>
        </div>
        <button class="btn btn-primary btnSure"
                ng-click="vm.changePassword()" ng-disabled="passwordForm.oldPassword.$pristine || passwordForm.oldPassword.$invalid || passwordForm.newPassword.$pristine || passwordForm.newPassword.$invalid || passwordForm.surePassword.$pristine || passwordForm.surePassword.$invalid ">
            保存
        </button>
    </form>

</div>