<div class="message" >
    <div class="message-title">
        <span class="fa  fa-chevron-left" style="color: #dca854" ui-sref = "home.mine"></span>
        <div>消息中心</div>
    </div>
    <div class="iscroll-wrapper message-content"
         iscroll="{mouseWheel: true, momentum: true, refreshInterval: 500}">
        <div  class="iscroll-scroller">
            <div class="message-row" ng-repeat ="x in vm.list">
                <div class="message-row-flex">
                    <span style="color: #c39d71;font-size: .17rem">{{x.articleTitle}}</span>
                    <span>{{x.articleState}}</span>
                </div>
                <div class="message-row-flex down">
                    <span>{{x.sendTime|date : 'yyyy-MM-dd hh:mm:ss'}}</span>
                    <span class="fa  fa-chevron-right" ></span>
                </div>
            </div>
        </div>

    </div>



</div>