<div class="message">
    <div class="message-title">
        <span class="fa  fa-chevron-left" style="color: #dca854" ui-sref = "home.mine"></span>
        <div>消息中心</div>
    </div>
    <div class="message-row">
        <div class="message-row-flex">
            <span style="color: #c39d71;font-size: .17rem">投资成功</span>
            <span>2018-01-01</span>
        </div>
        <div class="message-row-flex down">
            <span>老板已经跑路了！快去打官司</span>
            <span class="fa  fa-chevron-right" ></span>
        </div>
    </div>
</div>