<div class="mine-top">
    <div class="mine-title" >
        <div class="glyphicon glyphicon-cog" ui-sref="home.setting"></div>
        <div class="glyphicon glyphicon-comment" ui-sref="home.message"></div>
    </div>
    <div ng-show = "false" class="mine-userInfo" ui-sref = "home.userInfo">
        <div class="left">
            <img src="img/photo_03.jpg" class="img-circle" alt="">
        </div>
        <div class="right">
            <div>名字</div>
            <div>手机号</div>
        </div>
    </div>
    <div class="mine-login-btn" ng-show = "true">
        <button class="btn" ui-sref = "login">立即登陆</button>
    </div>
</div>
<div class="mine-content">
    <div class="mine-blank"></div>
    <button class="btn mine-content-row" ui-sref = "home.mineTrade">
        <span class="fa fa-calculator"></span><span>我的理财</span><span class="fa fa-chevron-right"></span>
    </button>
    <button class="btn mine-content-row" ui-sref = "home.minePY">
        <span class="fa  fa-list-alt"></span><span>交易记录</span><span class="fa fa-chevron-right"></span>
    </button>
    <button class="btn mine-content-row" ui-sref = "home.mineCard">
        <span class="fa fa-credit-card"></span><span>银行卡</span><span class="fa fa-chevron-right"></span>
    </button>
    <button class="btn mine-content-row" ui-sref = "home.mineHelp">
        <span class="fa fa-question-circle"></span><span>使用帮助</span><span class="fa fa-chevron-right"></span>
    </button>
    <button class="btn mine-content-row" ui-sref = "home.feedBack">
        <span class="fa fa-meh-o"></span><span>意见反馈</span><span class="fa fa-chevron-right"></span>
    </button>
</div>