<div class="setting">
    <div class="setting-title" >
        <span class="fa  fa-chevron-left" style="color: #dca854"  ng-click = "vm.back()"></span>
        <div>设置</div>
    </div>

    <div class="btn setting-row" ui-sref="home.changePassword">
        <span>修改密码</span><span class="fa  fa-chevron-right"></span>
    </div>
    <!--<button class="btn setting-row" ui-sref="home.changeTradePa">-->
        <!--<span>修改交易密码</span><span class="fa  fa-chevron-right"></span>-->
    <!--</button>-->
    <button class="btn setting-row" ui-sref="home.update">
        <span>版本更新</span><span class="fa  fa-chevron-right"></span>
    </button>
    <button class="btn setting-row" ui-sref="home.about">
        <span>关于我们</span><span class="fa  fa-chevron-right"></span>
    </button>
    <button class="exit btn" ng-click = "vm.exit()">
        退出登录
    </button>
</div>