<div class="setting">
    <div class="setting-title" ui-sref = "home.mine">
        <span class="fa  fa-chevron-left" style="color: #dca854"></span>
        <div>设置</div>
    </div>

    <div class="btn setting-row" ui-sref="home.changePa">
        <span>修改密码</span><span class="fa  fa-chevron-right"></span>
    </div>
    <button class="btn setting-row" ui-sref="home.changeTradePa">
        <span>修改交易密码</span><span class="fa  fa-chevron-right"></span>
    </button>
    <button class="btn setting-row">
        <span>版本更新</span><span class="fa  fa-chevron-right"></span>
    </button>
    <button class="btn setting-row" ui-sref="home.about">
        <span>关于我们</span><span class="fa  fa-chevron-right"></span>
    </button>
</div>