<div class="userInfo">
    <div class="userInfo-title" ui-sref = "home.mine">
        <span class="fa  fa-chevron-left" style="color: #dca854"></span>
        <div>个人信息</div>
    </div>

    <div class="btn userInfo-row">
        <span>用户名</span><span style="color: #999999">133****4568</span><span class=""></span>
    </div>
    <button class="btn userInfo-row" ui-sref="home.realName">
        <span>实名认证</span><span style="color: #999999">未实名</span><span class="fa  fa-chevron-right"></span>
    </button>
    <button class="btn userInfo-row" ui-sref="home.changePhone">
        <span>更换手机</span><span style="color: #999;">133****4568</span><span class="fa  fa-chevron-right"></span>
    </button>
</div>