.contractDetailed{

  border: #29b078 2px solid;
}
.contractContent{
  padding: .2rem;
  div{
    margin-bottom: .1rem;
  }
}

.contractContent-bottom{
  display: flex;
  justify-content: space-between;
  div{
    img{
      width: 2rem;
      height: 2rem;
    }
  }

}