.login-warp {
  width: 100vw;
  height: 100vh;
  background-image: url(../../img/051.jpg);
  background-size: cover;
}

.login-warp .login {
  padding: .2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px  solid pink;
}

.login-warp .login-btn {
  display: flex;
  justify-content: center;
}
