.form-control{
    width: 35%;
}
.title-warp{
    padding: 10px 0px 10px 20px;
    border: 1px solid #fff;
    .title{
        font-size: .2rem;
    }
}
.passwordForm{
    padding: 40px;
    text-align: center;
    background-color: #fff;
    .tips{
        margin-right: 15px;
    }
    .password{
        padding: 15px;
    }
}
.tipsRed{
    padding-top: 10px;
    color: red;
}
.btnSure{
    margin-top: 20px;
}