.user{
  form{
    div{
      height: .6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        flex-shrink: 0;
      }
      input{
        flex-shrink: 1;
        width: 1.2rem;
      }
    }
  }
}

//表格的样式
.user-list-table{
  tr{
    td{
      text-align: center;
      vertical-align: middle;
    }

  }
}

//底部分页的样式
.user-list-footer{
  display: flex;
  justify-content: space-between;
  div{
    display: flex;
    align-items: center;
    input{
      width: .45rem;
      height: .3rem;
    }
    button{
      width: .5rem;
      height: .3rem;
    }
    span{
      text-align: center;
    }
  }
}

