.changePhone{
  //标题样式
  .changePhone-title{
    margin-bottom: .1rem;
    position: relative;
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    background-color: white;
    color: #c39d71;
    font-size: .2rem;
    .fa-chevron-left{
      position: absolute;left: .2rem;top: .1rem;

    }
  }

  //步骤一
  .changePhone-step1{
    .step-title{
      height: .6rem;
      background-color: white;
      padding: .1rem;
    }
    margin: .2rem 0;
    .forget-bottom{
      padding: .2rem;
      button{
        width: 100%;
        height: .4rem;
        color: white;
        background-color: #daa955;
      }
    }
  }

  .changePhone-step2{
    background-color: white;
    margin: .2rem 0;
    .forget-bottom{
      padding: .2rem;
      button{
        width: 100%;
        height: .4rem;
        color: white;
        background-color: #daa955;
      }
    }
  }
}

.forget-input{
  position: relative;
  .getCode{
    position: absolute;top: .17rem;right: .2rem;
    color: #daa955;
    padding-left: .1rem;
    border-left: 2px solid #eee;

  }
  .forget-img{
    position: absolute;top: .37rem;left: .1rem;
    width: .17rem;
    height: .2rem;
    margin-top: -.2rem;
    padding-right: .3rem;

    border-right: 2px solid #eee;
  }
  .phone-img{
    background: url("../../../img/login/iphone.png") no-repeat;
    background-size: .17rem .2rem;
  }
  .code-img{
    background: url("../../../img/forgetpassword/code.jpg") no-repeat;
    background-size: .17rem .2rem;
  }
  input{
    width: 100%;
    //height: .4rem;
    padding:  .15rem 0  .15rem .5rem;
    border: none;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eee;
  }
  #v_container{
    position: absolute;top: .1rem;right: .2rem;
    width: 1rem;
  }
  #v_container2{
    position: absolute;top: .1rem;right: .2rem;
    width: 1rem;
  }
}