.feedBack{
  .feedBack-title{
    margin-bottom: .1rem;
    position: relative;
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    background-color: white;
    color: #c39d71;
    font-size: .2rem;
    .fa-chevron-left{
      position: absolute;left: .2rem;top: .1rem;

    }
  }
  .content{
    textarea{
      padding: .1rem;
      width: 100%;
      border: none;
      height: 2rem;
    }
    .attention{
      text-align: right;
    }
  }
  .btn{

    height: .4rem;

    color: white;
    background-color: #daa955;
    width: 100%;
  }
}