//顶部样式
.mine-top{
  height: 1.9rem;
  background: url("../../../img/mine-background_01.jpg") no-repeat ;
  background-size: 100% ;
}


//导航栏样式
.mine-title{

  padding: 0 .15rem;
  display: flex;
  justify-content: space-between;
  color: #c39d71;
  background: rgba(0,0,0,0) ;
  height: .4rem;
  font-size: .2rem;
  max-width: 600px;
  width: 100vw;
  .glyphicon-cog{
    height: .4rem;
    line-height: .4rem;
    text-align: center;
  }
  .glyphicon-comment{
    position: relative;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    .news{
      position: absolute;
      top: 0;
      right: -.1rem;
      width: .2rem;
      height: .2rem;
      border-radius: 50%;
      color: white;
      background-color: red;
      text-align: center;
      line-height: .2rem;
      font-size: .17rem;
    }
  }
}

.mine-login-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.4rem;
  button{
    width: 1rem;
    height: .4rem;
    color: #f9f9f9;
    background-color: #c39d71;
  }
}

//用户信息样式
.mine-userInfo{
  display: flex;
  padding: 0 .1rem;
  height: 1.4rem;
  align-items: center;
  .left{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    img{
      width: .6rem;
      height: .6rem;
    }
  }
  .right{
    flex-basis: 60%;
    text-align: center;
    color: #f9f9f9;
    font-size: .15rem;
    font-weight: bold;
    div{
      margin: .1rem 0;
    }

  }
}

.mine-content{
  background-color: #eee;
  .mine-blank{
    height: .1rem;
    background-color: #eee;
  }
  .mine-content-row{
    position: relative;
    width: 100%;
    padding: .2rem;
    background-color: #fff;
    border-bottom: .5px solid #eee;
    border-top: .5px solid #eee;
    display: flex;
    span{
      margin: 0 .1rem;
    }
    .fa-chevron-right{
      position: absolute;right: .2rem;
    }
  }

}