.realName{
  position: relative;
  height: 100%;
  //title style
  .realName-title{
    margin-bottom: .1rem;
    position: relative;
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    background-color: white;
    color: #c39d71;
    font-size: .2rem;
    .fa-chevron-left{
      position: absolute;left: .2rem;top: .1rem;

    }
  }

  //step 1
  .realName-step1{
    background-color: white;
    div{
      padding: .1rem .2rem;
      border: .5px #eee solid;
    }
    .step-row{
      display: flex;
      input{
        padding-left: .1rem;
        border: none;
        flex-grow: 1;
      }
    }
    button{
      width: 100%;
      height: .4rem;
      color: #daa955;
      background-color: white;
    }
  }

  .realName-step2{
    background-color: white;
    div{
      padding: .1rem .2rem;
      border: .5px #eee solid;
    }
    .input-row{
      padding: .1rem;

      background-color: #eee;
      font-weight: bold;
      font-size: .18rem;
      button{
        color: white;
        background-color: #daa955;
      }
    }
    .step-row{
      display: flex;

      input{
        padding-left: .1rem;
        border: none;
        flex-grow: 1;
      }
    }
    button{
      width: 100%;
      background-color: white;
    }
    .agreement{
      background-color: #eee ;
      border: none;
    }
  }

  .RNStep3{
    .step-title{
      height: .6rem;
      background-color: white;
      padding: .1rem;
    }
    margin: .2rem 0;
    .forget-bottom{
      padding: .2rem;
      button{
        width: 100%;
        height: .4rem;
        color: white;
        background-color: #daa955;
      }
    }
    .forget-input{
      position: relative;
      .getCode{
        position: absolute;top: .17rem;right: .2rem;
        color: #daa955;
        padding-left: .1rem;
        border-left: 2px solid #eee;

      }
      .forget-img{
        position: absolute;top: .37rem;left: .1rem;
        width: .17rem;
        height: .2rem;
        margin-top: -.2rem;
        padding-right: .3rem;

        border-right: 2px solid #eee;
      }
      .phone-img{
        background: url("../../../img/login/iphone.png") no-repeat;
        background-size: .17rem .2rem;
      }
      .code-img{
        background: url("../../../img/forgetpassword/code.jpg") no-repeat;
        background-size: .17rem .2rem;
      }
      input{
        width: 100%;
        //height: .4rem;
        padding:  .15rem 0  .15rem .5rem;
        border: none;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eee;
      }
      #v_container{
        position: absolute;top: .1rem;right: .2rem;
        width: 1rem;
      }
    }
  }


  //contract style
  .Agreement{
    position: absolute;top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: .2rem;
    background-color: white;
    z-index: 500;
    .fa{
      position: absolute;top: .2rem;
    }
    div{
      text-align: center;
    }
    h1{
      text-align: center;
    }
  }
}

.contractSure{

  .btnSure{
    font-size: .18rem;
    color: #dcdcdc;
  }
  .contract{
    color: #e1c18b;
  }
}