.realName{
  position: relative;
  //标题样式
  .realName-title{
    margin-bottom: .1rem;
    position: relative;
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    background-color: white;
    color: #c39d71;
    font-size: .2rem;
    .fa-chevron-left{
      position: absolute;left: .2rem;top: .1rem;

    }
  }

  //步骤一
  .realName-step1{
    background-color: white;
    div{
      padding: .1rem .2rem;
      border: .5px #eee solid;
    }
    .step-row{
      display: flex;
      input{
        padding-left: .1rem;
        border: none;
        flex-grow: 1;
      }
    }
    button{
      width: 100%;
      background-color: white;
    }
  }

  .realName-step2{
    background-color: white;
    div{
      padding: .1rem .2rem;
      border: .5px #eee solid;
    }
    .step-row{
      display: flex;
      input{
        padding-left: .1rem;
        border: none;
        flex-grow: 1;
      }
    }
    button{
      width: 100%;
      background-color: white;
    }
    .agreement{
      background-color: #eee ;
      border: none;
    }
  }

  .realName-step3{
    background-color: white;
    div{
      padding: .1rem .2rem;
      border: .5px #eee solid;
    }
    .step-row{
      input{
        padding-left: .1rem;
        padding-right: .2rem;
        width: 1rem;
        border: none;

      }
      button{
        width: auto;
        border: none;
        padding-left: .2rem;
        border-left: #eee solid 1px;
      }
    }
    button{
      width: 100%;
      background-color: white;
    }
    .attention{
      background-color: #eee;
      text-align: right;
      color: red;
    }
  }


  //合同样式
  .Agreement{
    position: absolute;top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: .2rem;
    background-color: white;
    z-index: 500;
    .fa{
      position: absolute;top: .2rem;
    }
    div{
      text-align: center;
    }
    h1{
      text-align: center;
    }
  }
}