// gold color
$gold: #d7a64c;
// background color  gray
.bk-gray{
    height: 100%;
    background-color: #eee;
}
.bk-white{
    background-color: #fff;
}
// title
.titleWarp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .4rem;
    line-height: .4rem;
    font-size: .2rem; // title center
    color: $gold;
    .title {
        padding-right: 0.2rem; 
    }
}
// back btn
.back {
    padding-left: .2rem;
}
//buy list
.buyForm{
    padding: .2rem;
    .money{
        margin: .1rem 0;
    }
}
    .tips{
        font-size: .17rem;
    }
// attention
.tipsRed{
    color: red;
}
// card
.card-warp{
    margin-top: .2rem;
    .card{
        max-width: 1.92rem;
        margin-left: -.2rem;
    }
    .cardNum{
        margin: -.1rem;
        font-weight: bold;
    }
    .cardSure{
        position: absolute;
        top: 34%;

        right: .2rem;
        font-size: 0.17rem;
        color: $gold;
    }
}
// card
.showList-warp{
    z-index: 100;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.5);
    .cardList-warp{ //card list
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: .2rem;
        background-color: #fff;
        .cardList{
            // margin-left: -.7rem;
        }
        .add-warp{
            margin-top: .2rem;
            .add{
                font-size: 0.2rem;
            }
        }
    }
}

// confirm contract
.contractSure{
    margin: 0.2rem 0;
    .btnSure{
        font-size: .18rem;
        color: #dcdcdc;
    }
    .contract{
        color: $gold;
    }
}

// app contract
#contract{
    z-index: 100;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    padding: .2rem;
    background-color: #fff;
    .conText{
        position: fixed;
        top: 81px;
        bottom: .2rem;
        overflow-y: auto;
        padding-right: .2rem;
        .chapter {
            position: relative;
            bottom: 0.8rem;
            left: 1.5rem;
        }
    }
}
// buy btn
.buy-btn{
    padding: 0.1rem 0 .5rem 0;
}