// 聚金融金色（）亮金色
$gold: #d7a64c;
// 背景置灰
.bk-gray{
    height: 100%;
    background-color: #eee;
}
.bk-white{
    background-color: #fff;
}
// 标题
.titleWarp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .4rem;
    line-height: .4rem;
    font-size: .2rem; // 使标题处于居中位置
    color: $gold;
    .title {
        padding-right: 0.2rem; 
    }
}
// 返回按钮
.back {
    padding-left: .2rem;
}
//购买表单
.buyForm{
    padding: .2rem;
    .money{
        margin: .1rem 0;
    }
}
    .tips{
        font-size: .17rem;
    }
// 提示
.tipsRed{
    color: red;
}
// 银行卡
.card-warp{
    margin-top: .2rem;
    .card{
        max-width: 60%;
        margin-left: -.2rem;
    }
    .cardNum{
        margin: -.1rem;
        font-weight: bold;
    }
    .cardSure{
        position: fixed;
        top: 2rem;
        right: .2rem;
        font-size: 0.17rem;
        color: $gold;
    }
}
// 银行卡列表页面
.showList-warp{
    z-index: 100;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.5);
    .cardList-warp{ //银行卡列表
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: .2rem;
        background-color: #fff;
        .cardList{
            // margin-left: -.7rem;
        }
        .add-warp{
            margin-top: .2rem;
            .add{
                font-size: 0.2rem;
            }
        }
    }
}

// 确认合同
.contractSure{
    margin: 0.2rem 0;
    .btnSure{
        font-size: .18rem;
        color: #dcdcdc;
    }
    .contract{
        color: $gold;
    }
}
.black{
    color: black!important;
}
// 聚金融合同
#contract{
    z-index: 100;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    padding: .2rem;
    background-color: #fff;
    .conText{
        position: fixed;
        top: 81px;
        bottom: .2rem;
        overflow-y: auto;
        padding-right: .2rem;
        .chapter {
            position: relative;
            bottom: 0.8rem;
            left: 1.5rem;
        }
    }
}
// 购买按钮
.buy-btn{
    padding: 0.1rem 0 .5rem 0;
}