//app color
$gold: #d7a64c;
//title style
.titleWarp {
    position: fixed;
    top: 0;left: 0;right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .4rem;
    line-height: .4rem;
    font-size: .2rem; // title center
    color: $gold;
    background-color: white;
    z-index: 200;
    .title {
        padding-right: 0.2rem;
    }
}
// back btn
.back {
    padding-left: .2rem;
}
//app contract
.contract{
    //position: fixed;top: .4rem;left: 0;right: 0;
    overflow-y: auto;
}

.contractContent{
    position: absolute;top: .4rem;left: 0;right: 0;

    padding: .2rem;
    div{
        margin-bottom: .1rem;
    }
}

.contractContent-bottom{
    display: flex;
    justify-content: space-between;
    div{
        img{
            margin: 0 0 -.5rem -.8rem;
            width: 1.7rem;
            height: 1.7rem;
        }
    }

}