// 聚金融金色（）亮金色
$gold: #d7a64c;
// 标题
.CtitleWarp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .4rem;
    line-height: .4rem;
    font-size: .2rem; // 使标题处于居中位置
    color: $gold;
}
// 聚金融合同
.contract {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    padding: .2rem;
    background-color: #fff;
    .conText {
        position: fixed;
        top: 81px;
        bottom: .2rem;
        overflow-y: auto;
        padding-right: .2rem;
        .chapter {
            position: relative;
            bottom: 0.8rem;
            left: 1.5rem;
        }
    }
}