.black {
  color: black !important;
}

.titleWarp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: .4rem;
  line-height: .4rem;
  padding: .2rem;
  font-size: .2rem;
  color: #d7a64c;
}

.back {
  padding-left: .2rem;
}

.contractSure {
  margin: 0.2rem 0;
}

.contractSure .btnSure {
  font-size: .18rem;
  color: #dcdcdc;
}

.contractSure .contract {
  color: #d7a64c;
}

.payForm {
  padding: .2rem;
}

.payForm .info {
  padding: .2rem;
}

.pay-btn {
  padding: .5rem;
}

#contract {
  z-index: 100;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  padding: .2rem;
  background-color: #fff;
}

#contract .conText {
  position: fixed;
  top: 81px;
  bottom: .2rem;
  overflow-y: auto;
  padding-right: .2rem;
}

#contract .conText .chapter {
  position: relative;
  bottom: 0.8rem;
  left: 1.5rem;
}
