<div class="row backStage">
    <div class="col-xs-12 col-md-4" style="background-color: #fff;">
        <div class="backStage-side-nav-title">聚金融后台管理系统</div>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class=" backStage-title-right">
            <span class="backStage-sign-out glyphicon glyphicon-off" ng-click="vm.exit()"></span>
            <span class="user-name">{{vm.name}}</span>
        </div>
    </div>
    <div class="col-md-2 col-xs-12" style="margin-top: .4rem;">
        <div ng-repeat="x in vm.sideBar" class="backStage-side-nav">
            <div  class="backStage-side-nav-menu" ng-click="vm.titleIndex($index)" >
                <span class="glyphicon glyphicon-list"></span>
                <span>{{x.sideBarTitle}}</span>
                <span ng-class="{true:'glyphicon glyphicon-arrow-down',false : 'glyphicon glyphicon-arrow-left'}[vm.sideBarTitleIndex == $index]"></span>
            </div>
            <div ng-repeat="y in x.sideBarContent"
                 ng-show="vm.sideBarTitleIndex == $parent.$index"
                 ng-click="vm.content(y.moduleName,$parent.$index)"
                 ng-class="{true:'backStage-active',false:''}[y.moduleName == vm.sideBarContent]"
                 class="backStage-nav-list">
                <a  ui-sref = {{y.url}}>
                    <span>{{y.moduleName}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-xs-12" >
        <div ui-view class="backStage-view">
            <h1>
                Welcome!
            </h1>
        </div>
    </div>
</div>