//整体边框
.all-content{
  border: #29b078 2px solid;
}

//标题样式
.table-title{
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: #29b078 2px solid;
  height: .6rem;
  h3{
    margin: 0 .2rem;
    height: .6rem;
    line-height: .6rem;
  }
  button{
    height: .4rem;
    margin-top: .1rem;
    margin-right: .4rem;
    background-color: #29b078;
    color: white;
    font-weight: bold;
  }
}

//中间表格样式
.table-content{
  tr{
    td{
      text-align: center;
      vertical-align: middle;
    }

  }
}

//底部分页样式
.table-foot{
  display: flex;
  justify-content: space-between;
  div{
    display: flex;
    align-items: center;
    input{
      width: .45rem;
      height: .3rem;
    }
    button{
      width: .5rem;
      height: .3rem;
    }
    span{
      text-align: center;
    }
  }
}

//下面一坨是债权编辑页面的样式，因为其他页面套用较多，升级为全局样式，望知悉
.debtEditContent{
  padding: .2rem;

}
.debtEditContent-row{
  margin: .2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  textarea{
    width: 4rem;
    height: 2.3rem;
  }
  //span{
  //  height: .4rem;
  //  line-height: .4rem;
  //}
  //button{
  //  margin: .2rem;
  //}
}

//避免日历插件样式被覆盖单独写
.debtEditContent-data{
  margin: .2rem 0;
  display: flex;
  justify-content: center;
}
.debtEditContent-span{
  height: .4rem;
  line-height: .4rem;
}

.debtEdit-attention{
  flex-basis: 100%;
  text-align: center;
}
