//all element border
.all-content{
  border: #29b078 2px solid;
}

//title style
.table-title{
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: #29b078 2px solid;
  height: .6rem;
  h3{
    margin: 0 .2rem;
    height: .6rem;
    line-height: .6rem;
  }
  button{
    height: .4rem;
    margin-top: .1rem;
    margin-right: .4rem;
    background-color: #29b078;
    color: white;
    font-weight: bold;
  }
}

//table style
.table-content{
  tr{
    td{
      text-align: center;
      vertical-align: middle;

    }

  }
}

//img in list style
.list-img{
  max-width: 1.5rem ;
  max-height:1.5rem;
}

//page
.table-foot{
  display: flex;
  justify-content: space-between;
  div{
    display: flex;
    align-items: center;
    input{
      width: .45rem;
      height: .3rem;
    }
    button{
      width: .5rem;
      height: .3rem;
    }
    span{
      text-align: center;
    }
  }
}

//edit style
.debtEditContent{
  padding: .2rem;

}
.debtEditContent-row{
  margin: .2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  textarea{
    width: 4rem;
    height: 2.3rem;
  }
  //span{
  //  height: .4rem;
  //  line-height: .4rem;
  //}
  .btn-danger,
  .btn-success{
    margin: 0 .1rem;
  }
  
}


.debtEditContent-data{
  margin: .2rem 0;
  display: flex;
  justify-content: center;
}
.debtEditContent-span{
  height: .4rem;
  line-height: .4rem;
}

.debtEdit-attention{
  flex-basis: 100%;
  text-align: center;
}
