.bk-white {
  background-color: #fff; }

.titleWarp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: .55rem;
  line-height: .4rem;
  padding: .2rem;
  font-size: .2rem;
  color: #d7a64c;
}
