// 聚金融金色（）亮金色
$gold: #d7a64c;
.bk-white {
    background-color: #fff;
}
// 标题
.titleWarp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .55rem;
    line-height: .4rem;
    padding: .2rem;
    font-size: .2rem; // 使标题处于居中位置
    color: $gold;
    .title {
        padding-right: 0.2rem;
    }
}