html{
  font-size: 100px;
}
body{
  font-size: 15px;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none!important;
}
*:hover{
  text-decoration: none;
}
.glyphicon{ 
  top: 0;
}
// 标题样式
.title{
    font-size: 0.2rem; 
}