html{
  font-size: 100px;
}
body{
  font-size: 15px;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
*:hover{
  text-decoration: none;
}
.glyphicon{
  top: 0;
}

.row{
  width: 100%!important;
}
//.col-md-4ï¼Œ.col-md-8{
//  padding: 0 !important;
//}