<div class="forget">
    <div class="forget-title">
        <span class="fa  fa-chevron-left" style="color: #dca854" ui-sref = "home.mine"></span>
        <div>忘记密码</div>
    </div>
    <form name="forgetForm">
        <div class="forget-input">
            <input  type="tel"
                    required
                    ng-model="vm.userName"
                    placeholder="请输入手机号" />
            <div class="forget-img"></div>
        </div>
        <div class="forget-input">
            <input type="password"
                   ng-model = "vm.passWord"
                   required
                   placeholder="请输入验证码">
            <div class="password-img"></div>
        </div>
        <div class="forget-bottom">
            <button class="btn" ng-disabled = "forgetForm.$invalid">登录</button>
            <div class="forget-foot">
                <span>免费注册</span><span ui-sref="forget">忘记密码</span>
            </div>
        </div>
    </form>

</div>