<div class="login">
    <div class="login-title">
        <span class="fa  fa-chevron-left" style="color: #dca854" ui-sref = "home.mine"></span>
        <div>登陆</div>
    </div>
    <form name="loginForm">
        <div class="login-input">
            <input  type="tel"
                    required
                    ng-model="vm.userName"
                    placeholder="请输入手机号" />
            <div class="login-img"></div>
        </div>
        <div class="login-input">
            <input type="password"
                   ng-model = "vm.passWord"
                   required
                   ng-if="!vm.inputType"
                   placeholder="请输入密码">
            <input type="text"
                   ng-model = "vm.passWord"
                   required
                   ng-if="vm.inputType"
                   placeholder="请输入密码">
            <span class="fa eye-btn"
                  ng-init="vm.inputType = false"
                  ng-click = "vm.inputType = !vm.inputType"
                  ng-class="{true : 'fa-eye',false : 'fa-eye-slash' }[vm.inputType]"></span>
            <div class="password-img"></div>
        </div>
        <div class="login-bottom">
            <button class="btn" ng-disabled = "loginForm.$invalid" ng-click = "vm.login()">登录</button>
            <div class="login-foot">
                <span ui-sref ="register">免费注册</span><span ui-sref="forget">忘记密码</span>
            </div>
        </div>
    </form>

    <!--<button class="btn btn-danger" ng-click = "vm.show()">出来吧form</button>-->

</div>