<div class="register">
    <div class="register-title">
        <span class="fa  fa-chevron-left" style="color: #dca854" ui-sref = "login"></span>
        <div>免费注册</div>
    </div>
    <form name="registerForm">
        <div class="register-input">
            <input  type="tel"
                    required
                    ng-model="vm.userName"
                    placeholder="请输入11位手机号" />
            <div class="register-img phone-img"></div>
        </div>
        <div class="register-input">
            <input type="tel"
                   ng-model = "vm.code"
                   required
                   placeholder="请输入验证码">
            <div class="register-img code-img"></div>
            <label for="code"
                   class="getCode"
                   ng-bind = "vm.countTime">233</label>
            <input type="text"
                   id="code"
                   ng-model = "vm.countTime"
                   ng-disabled = "vm.countTime != '获取验证码'"
                   ng-show = "false"
                   ng-click = "vm.sendCode()">
        </div>
        <div class="register-input" ng-show = "vm.countError > 2">
            <input type="tel"
                   ng-model = "vm.imgCode"
                   placeholder="请输入图形验证码">
            <div class="register-img code-img"></div>
            <div id="v_container"></div>
        </div>
        <div class="register-input">
            <input type="password"
                   ng-model = "vm.oldP"
                   required
                   placeholder="请设置6-18位由数字、字母或符号组成的密码。">
            <div class="register-img oldP-img"></div>
        </div>
        <div class="register-input">
            <input type="password"
                   ng-model = "vm.newP"
                   required
                   placeholder="请确认新密码">
            <div class="register-img newP-img"></div>
        </div>
        <div class="register-bottom">
            <button class="btn" ng-disabled = "registerForm.$invalid" ng-click = "vm.confirm()">确认</button>

        </div>
    </form>
    <!--<div class="error" ng-show = "vm.message">-->
        <!--<div class="content">{{vm.message}}</div>-->
    <!--</div>-->

</div>