<!-- 搜索条件 -->
<form class="searchCondition">
    <div class="search-row">

        <label class="tips" for="adminId">产品ID</label>
        <input type="text"
               id="adminID"
               ng-model = "vm.productId"
               class="form-control form-18">

        <label class="tips" for="title">产品名称</label>
        <input type="text"
               id="title"
               ng-model = "vm.productName"
               class="form-control form-18">


        <button class="btn btn-danger"
                ng-click = "vm.reset()"
        >重置</button>

    </div>
    <div class="search-row">

        <label class="tips" for="username">创建人</label>
        <input type="text"
               id="username"
               ng-model = "vm.createBy"
               class="form-control form-18">


        <label class="tips" for="creater">状态</label>
        <select class="form-control" id="creater" ng-model = "vm.status" >
            <option value="">--请选择一个状态--</option>
            <option value="0">上架</option>
            <option value="1">下架</option>
        </select>

        <button class="btn btn-primary"
                ng-click = "vm.search()"
        >查询</button>
    </div>
</form>
<!-- 列表标题 -->
<div class="title-warp">
    <strong class="title">产品列表</strong>
    <button class="btn btn-success"
            ui-sref ="backStage.productEdit({id:0})"
    >新增</button>
</div>

<div class="table-responsive border">
    <table class="table table-hover">
        <tbody>
        <tr>
            <td class="text-center index-title"><strong>序号</strong></td>
            <td class="text-center list-title"><strong>产品ID</strong></td>
            <td class="text-center list-title"><strong>产品名称</strong></td>
            <td class="text-center list-title"><strong>预期年利率（%）</strong></td>
            <td class="text-center list-title"><strong>投资周期（天）</strong></td>
            <td class="text-center list-title"><strong>起投金额（元）</strong></td>
            <td class="text-center list-title"><strong>最小增减金额（元）</strong></td>
            <td class="text-center list-title"><strong>还款方式</strong></td>
            <td class="text-center list-title"><strong>创建人</strong></td>
            <td class="text-center list-title" ><strong>创建时间</strong></td>
            <td class="text-center list-title"><strong>状态</strong></td>
            <td class="text-center list-title"><strong>操作</strong></td>
        </tr>
        <tr ng-repeat="x in vm.list">
            <!--正式接口productId改为id-->
            <td class="text-center index">{{$index+1}}</td>
            <td class="text-center ">{{x.id}}</td>
            <td class="text-center ">{{x.productName}}</td>
            <td class="text-center " >{{x.annualRate}}</td>
            <td class="text-center " >{{x.productTerm}}</td>
            <td class="text-center " >{{x.startAmount}}</td>
            <td class="text-center ">{{x.minAmount}}</td>
            <td class="text-center ">{{x.repaymentMode | productMode }}</td>
            <td class="text-center ">{{x.createBy }}</td>
            <td class="text-center ">{{x.createAt|date : 'yyyy-MM-dd hh:mm:ss'}}</td>
            <td class="text-center ">{{x.state | productState}}</td>

            <td>
                <button class="btn btn-default"  ng-click = "vm.stateChange(x.id,x.state)">{{x.state | productStateChange}}</button>
                <button class="btn btn-info" ui-sref ="backStage.productEdit({id:x.id})">编辑</button>
                <button class="btn btn-danger"  ng-click = "vm.delete(x.id)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="table-foot">
    <div class="btn-list-size ">
        <span>每页显示</span>
        <input type="text" class="form-control  small" ng-model="vm.size" ng-init="vm.size = 10 ">
        <span>条</span>
    </div>
    <ul    class="apage "
           uib-pagination
           total-items="vm.totalItems"
           ng-model="vm.page"
           max-size="5"
           items-per-page = "vm.size"
           first-text="第一页"
           previous-text = "<"
           next-text = ">"
           ng-click="vm.search()"
           rotate = "true"
           force-ellipses = "true"
           last-text="最后页"
           boundary-links="true"
           boundary-link-numbers="true">
    </ul>
    <div class="btn-list-page">
        <span>去第</span>
        <input type="text" class="form-control small" ng-model="vm.newPage">
        <span>页</span>
        <button class="btn btn-default" ng-click="vm.search()" >确定</button>
    </div>
</div>