<!-- 搜索条件 -->
<div class="searchCondition">
    <div class="search-row">

        <label class="tips" for="adminId">用户ID：</label>
        <input type="text"
               id="adminID"
               ng-model = "vm.userId"
               class="form-control form-18">

        <label class="tips" for="title">真实姓名</label>
        <input type="text"
               id="title"
               ng-model = "vm.userName"
               class="form-control form-18">


        <button class="btn btn-danger"
                ng-click = "vm.reset()"
        >重置</button>

    </div>
    <div class="search-row">

        <label class="tips" for="username">手机号：</label>
        <input type="text"
               id="username"
               ng-model = "vm.phone"
               class="form-control form-18">


        <label class="tips" for="creater">状 态：</label>
        <select class="form-control" id="creater" ng-model = "vm.status" >
            <option value="">--请选择一个状态--</option>
            <option value="0">正常</option>
           <option value="1">冻结</option>
        </select>

        <button class="btn btn-primary"
                ng-click = "vm.search()"
        >查询</button>
    </div>
</div>
<!-- 列表标题 -->
<div class="title-warp">
    <strong class="title">用户列表</strong>
</div>

<div class="table-responsive border">
    <table class="table table-hover">
        <tbody>
        <tr>
            <th class="text-center index-title"><strong>序号</strong></th>
            <th class="text-center list-title"><strong>用户ID</strong></th>
            <th class="text-center list-title"><strong>手机号</strong></th>
            <th class="text-center list-title"><strong>真实姓名</strong></th>
            <th class="text-center list-title"><strong>身份证号码</strong></th>
            <th class="text-center list-title"><strong>总资产</strong></th>
            <th class="text-center list-title"><strong>累计收益</strong></th>
            <th class="text-center list-title"><strong>注册时间</strong></th>
            <th class="text-center list-title"><strong>状态</strong></th>
            <th class="text-center list-title"><strong>操作</strong></th>
        </tr>
        <tr ng-repeat="x in vm.list">
            <td class="text-center index">{{$index+1}}</td>
            <td class="text-center">{{x.id}}</td>
            <td class="text-center">{{x.phoneNum}}</td>
            <td class="text-center">{{x.actualName}}</td>
            <td class="text-center">{{x.cardID}}</td>
            <td class="text-center">{{x.totalAssets}}</td>
            <td class="text-center">{{x.cumulativeIncome}}</td>
            <td class="text-center">{{x.registrationTime |date : 'yyyy-MM-dd hh:mm:ss'}}</td>
            <td class="text-center">{{x.state | statusFilter}}</td>
            <td class="text-center">
                <button class="btn btn-default"  ng-click = "vm.frozen(x.id,x.state)">{{x.state | status}}</button>
                <button class="btn btn-info" ui-sref ="backStage.userDetailed({id:x.id})" >查看</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="table-foot">
    <div class="btn-list-size ">
        <span>每页显示</span>
        <input type="text" class="form-control  small" ng-model="vm.size">
        <span>条</span>
    </div>
    <ul    class="apage "
           uib-pagination
           total-items="vm.totalItems"
           ng-model="vm.page"
           max-size="5"
           items-per-page = "vm.size"
           first-text="第一页"
           previous-text = "<"
           next-text = ">"
           ng-click="vm.search()"
           rotate = "true"
           force-ellipses = "true"
           last-text="最后页"
           boundary-links="true"
           boundary-link-numbers="true">
    </ul>
    <div class="btn-list-page">
        <span>去第</span>
        <input type="text" class="form-control small" ng-model="vm.page">
        <span>页</span>
        <button class="btn btn-default" ng-click="vm.search()" >确定</button>
    </div>
</div>