<div class="userDetailed">
    <div class="userDetailed-title">
        <h3 >用户详情</h3>
        <button class="btn btn-default" ui-sref ="backStage.user">返回</button>
    </div>

    <h4>个人信息</h4>
    <div>
        <div>ID:{{vm.list.id}}</div>
        <div>
            手机号：{{vm.list.phoneNum}}
            <button class="btn btn-default" ng-click = "vm.allOpen()">更换</button>
        </div>

        <div>银行卡1：{{vm.card1| card}}</div>
        <div>银行卡2：{{vm.card2 | card}}</div>
        <div>真实姓名：{{vm.list.actualName}}</div>
        <div>身份证号码：{{vm.list.cardID}}</div>
        <div>注册时间：{{vm.list.registrationTime  |date : 'yyyy-MM-dd hh:mm:ss'}}</div>
    </div>
    <h4>资产信息</h4>
    <div>
        <div>总资产：{{vm.list.totalAssets}}</div>
        <div>累计收益：{{vm.list.cumulativeIncome}}</div>
    </div>
    <div class="userDetailed-btn">
        <button class="btn btn-default" ui-sref ="backStage.userTrade({id:vm.list.id})" >交易记录</button>
        <button class="btn btn-default " ui-sref ="backStage.userContract({id:vm.list.id})" >投资合同</button>
    </div>
    <div class="changePhoneNum" ng-show = "vm.all" >
       <div class="all">
           <h3>更换</h3>
           <form class="left" name="changePhoneNum" >
               <span>请输入要更换的新手机号码：</span>
               <input type="text"
                      name="phoneNum"
                      ng-pattern="/^(((\+86)|(86))?1[0-9]{10})$/"
                      ng-model = "vm.phoneNum"
                      required
                      class="form-control">
               <span style="color: red" ng-show="changePhoneNum.phoneNum.$error.pattern ">手机号码格式错误</span>
               <span style="color: red" ng-show="vm.error1">手机号码已绑定</span>
               <span>请输入验证码：</span>
               <input type="text" class="form-control" ng-model = "vm.code" required>
               <span style="color: red" ng-show="vm.error2">短信验证码错误请重试</span>

           </form>
           <div class="right">
               <label for="getCode" class="btn btn-default">获取短信验证码</label>
               <input class="btn btn-default" id="getCode" ng-disable ="vm.error2" ng-click = "vm.getCode()" ng-show ="false">
               <div class="imgCode" ng-show = "vm.countError > 2">
                   <input type="tel"
                          class="form-control"
                          ng-model = "vm.imgCode"
                          placeholder="请输入图形验证码">
                   <div class="forget-img code-img"></div>
                   <div id="v_container"></div>
               </div>
           </div>
           <div class="bottom">
               <button class="btn" ng-click = "vm.newPhoneNum()" ng-disabled="changePhoneNum.$invalid">确认</button>
               <button class="btn" ng-click ="vm.close()">取消</button>
           </div>
       </div>
    </div>
</div>